.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      max-width: 1080px;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        padding: 1rem;
        color: #777;
        border: 2px solid #eaeaea;
        border-radius: 10px;
        transition: color 0.15s ease, border-color 0.15s ease;
        width: 300px;
        height: 400px;

        h1 { 
          font-size: 2rem;
          
          text-align: center;
          text-transform: uppercase;
        }

        &:hover,
        &:focus,
        &:active {
          color: var(--blue);
          border-color: var(--blue);
        }       
      }
    }
  }
}

@media (max-width: 768px) {
  .container { 

    .main { 

      .cards { 

        .card { 
          width: 200px;
          height: 300px;

          h1 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
